{{ title_prefix }}
{% if label %}
    <div class="custom-title container mb-5 current-year-title"><h2{{ title_attributes.addClass('font-weight-bold') }}> {{ label|trans }}</h2></div>
{% endif %}
{{ title_suffix }}
<div id="chiffres-container" class="container-fluid block current-year">
  <div id="chiffres-year" class=""><h3>{{ "En 2020"|trans }}</h3></div>
  <div id="chiffres" class="container-fluid bottom-widget">
        <div id="list-items" class="row text-center">
            <div class="chiffre-item col-6 col-sm-4 col-md-3 col-lg-3 text-center">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-collaborateurs.png" alt="collab icon"/>
              </div>
              <br>
                <span class="chiffres">14 435</span>  <br> <span class="chiffres-desc"> {{ 'TPE agricoles '|trans }} <br> {{ 'familiales soutenues'|trans }}</span>
            </div>
            <div class="chiffre-item col-6 col-sm-4 col-md-3 col-lg-3 text-center">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-partenaires.png" alt="patenaire icon"/>
              </div>
              <br>
              <span class="chiffres">72 175</span> <br> <span class="chiffres-desc">{{ 'personnes sorties '|trans }} <br> {{ 'de la pauvreté'|trans }} </span>
            </div>
            <div class="chiffre-item col-6 col-sm-4 col-md-3 col-lg-3 text-center">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-projets-en-cours.png" alt="project icon"/>
              </div>
              <br>
              <span class="chiffres"> 46</span> <br> <span class="chiffres-desc"> {{ 'organisations locales '|trans }} <br> {{ 'accompagnées'|trans }} </span>
            </div>
            <div class="chiffre-item col-6 col-sm-4 col-md-3 col-lg-3 text-center">
              <div>
                <img src="/web/themes/custom/norsys_base/images/picto-millions-engages.png" alt="million icon"/>
              </div>
              <br>
              <span class="chiffres"> 13 </span><br> <span class="chiffres-desc">{{ "pays "|trans }}  {{ 'd’intervention'|trans }} </span>
            </div>

        </div>
    </div>
</div>
