<div {{ attributes.addClass('block-externe-agir') }}>
  {{ title_prefix }}
  {% if label %}
    <div class="custom-title container"><h2{{ title_attributes }}>{{ "S'engager avec nous"|trans }}</h2></div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
  <div class="col-12 col-sm-6 col-md-6">
    <a href="#">Construire une action</a>


    <figure role="group" class="caption caption-img align-center"><img alt="Notre offre de services"
                                                                       data-entity-type="file"
                                                                       data-entity-uuid="346811cd-b14d-475c-bbf8-9f24d5848994"
                                                                       src="/web/sites/default/files/inline-images/paniers-solidaires-club-med_2.png"
                                                                       width="660" height="480" loading="lazy">
      <figcaption>Contactez-nous pour construire une action ensemble</figcaption>
    </figure></div>
  <div class="col-12 col-sm-6 col-md-6"><a href="#">Collaborer</a>


    <figure role="group" class="caption caption-img align-center"><img alt="Notre offre de services"
                                                                       data-entity-type="file"
                                                                       data-entity-uuid="346811cd-b14d-475c-bbf8-9f24d5848994"
                                                                       src="/web/sites/default/files/inline-images/paniers-solidaires-club-med_2.png"
                                                                       width="660" height="480" loading="lazy">
      <figcaption>Consultez nous offres d'emplois et de stages</figcaption>
    </figure></div>
</div>
{% endblock %}
</div>

