<div {{ attributes.addClass('block-nos-demarches', 'col-12', 'col-md-6') }}>
    {{ title_prefix }}
    {% if label %}
        <div class="custom-title container"><h2{{ title_attributes }}>{{ label }}</h2></div>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        {{ content }}
    {% endblock %}
</div>

