<div {{ attributes.addClass('block-externe-agir') }}>
  {{ title_prefix }}
  {% if label %}
    <div class="custom-title container"><h2{{ title_attributes }}>{{ "Nos dernières publications"|trans }}</h2></div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
  <div class="col-12 col-sm-6 col-md-4">
    <a href="#">{{ "Guide METHODOLOGIQUE"|trans }}</a>


    <figure role="group" class="caption caption-img align-center"><img alt="Notre offre de services"
                                                                       data-entity-type="file"
                                                                       data-entity-uuid="346811cd-b14d-475c-bbf8-9f24d5848994"
                                                                       src="/web/themes/custom/norsys_base/images/actu-agrisud-guide-territoires-325X236-px.jpg"
                                                                       width="660" height="480" loading="lazy">
      <figcaption>{{ "Découvrez des outils et méthodes pour agir à l’échelle du territoire"|trans }}</figcaption>
    </figure></div>
  <div class="col-12 col-sm-6 col-md-4"><a href="#">{{ "VIDEO PROJET"|trans }}</a>


    <figure role="group" class="caption caption-img align-center"><img alt="Notre offre de services"
                                                                       data-entity-type="file"
                                                                       data-entity-uuid="346811cd-b14d-475c-bbf8-9f24d5848994"
                                                                       src="/web/themes/custom/norsys_base/images/actu-agrisud-video-projet-vietnam-325X236-px.jpg"
                                                                       width="660" height="480" loading="lazy">
      <figcaption>{{ "Visionnez le film du projet IDEAS dans le Parc National Hoang Lien (Vietnam)"|trans }}</figcaption>
    </figure></div>
  <div class="col-12 col-sm-6 col-md-4"><a href="#">{{ "EXPO PHOTOS"|trans }}</a>


    <figure role="group" class="caption caption-img align-center"><img alt="Notre offre de services"
                                                                       data-entity-type="file"
                                                                       data-entity-uuid="346811cd-b14d-475c-bbf8-9f24d5848994"
                                                                       src="/web/themes/custom/norsys_base/images/actu-agrisud-expo-photo-haiti-325X236-px.jpg"
                                                                       width="660" height="480" loading="lazy">
      <figcaption>{{ "Regardez notre dernière exposition : « Haïti, un autre regard » par J.Sabin"|trans }}</figcaption>
    </figure></div>
</div>
{% endblock %}
</div>

