{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix', 'container') }} id="overridden-ds-1-col-template">
{{ title_suffix.contextual_links }}
{{ ds_content.field_image }}
<div class="list-localization row">
    <div class="details col-lg-9">
       <ul class="list-unstyled list-group">
            <li class="list-group-item">
                <div class="desc-item"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ ds_content.field_pays}} {{ ds_content.field_region }}</div>

            </li>
            <li class="list-group-item">
                <div class="desc-item"><i class="fa fa-file" aria-hidden="true"></i>
                {{ ds_content.field_programme }}</div></li>
            <li class="list-group-item last">
                <div class="desc-item"><i class="fa fa-bars" aria-hidden="true"></i>
                    {{ ds_content.field_statut }}</div>
            </li>
        </ul>
    </div>
    <div class="soutenir col-lg-3">

      <a href="#">Soutenez <br> ce projet</a>
    </div>

</div>
{{ ds_content.body }}
</{{ ds_content_wrapper }}>
