<!-- Start: Header -->
<div class="header">
  <div class="container-">
    <div class="row">
      <div class="navbar-header col-md-4 col-lg-2">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
          <i class="fas fa-bars"></i>
        </button>
        {% if page.header %}
          {{ page.header }}
        {% endif %}
      </div>

      {% if page.primary_menu or page.search %}
        <div class="col-md-8 col-lg-10 menu-wrap">
          {% if page.primary_menu %}
            {{ page.primary_menu }}
          {% endif %}
          {% if page.search %}
            {{ page.search }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- End: Header -->

<!-- Start: Slides -->
{% if is_front and show_slideshow %}
  <div class="container-">
    <div class="flexslider d-none d-sm-block">
      <ul class="slides">
        {% for slider_contents in slider_content %}
          {{ slider_contents | raw }}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
<!-- End: Slides -->

<!--Start: Top Message -->
{% if page.top_message %}
  <div class="top-message">
    <div class="container">
      {{ page.top_message }}
    </div>
  </div>
{% endif %}
<!--End: Top Message -->


<!-- Start: Top widget -->
{% if page.topwidget_first or page.topwidget_second or page.topwidget_third %}
  <div class="topwidget" id="topwidget">
    <div class="container">
      {% if page.topwidget_title %}
        <div class="custom-block-title" >
          {{ page.topwidget_title }}
        </div>
      {% endif %}

      <div class="row topwidget-list clearfix">
        {% if page.topwidget_first %}
          <div class = {{ topwidget_class }}>{{ page.topwidget_first }}</div>
        {% endif %}
        {% if page.topwidget_second %}
          <div class = {{ topwidget_class }}>{{ page.topwidget_second }}</div>
        {% endif %}
        {% if page.topwidget_third %}
          <div class = {{ topwidget_class }}>{{ page.topwidget_third }}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!--End: Top widget -->


<!--Start: Highlighted -->
{% if page.highlighted %}
  <div class="highlighted">
    <div class="container">
      {{ page.highlighted }}
    </div>
  </div>
{% endif %}
<!--End: Highlighted -->


<!--Start: Title -->
{%  if page.page_title and not is_front %}
  {% set file_url = file_url(banner) %}
  <div id="page-title" {% if banner %} style="background-image: url({{ (file_url) }})" {% endif %}>
    <div id="page-title-inner">
      <div class="container">
        {{ page.page_title }}
      </div>
    </div>
  </div>
{% endif %}
<!--End: Title -->

<div class="main-content">
  <div class="front-svg container-fluid">
    <div class="">

      <div class="row layout">
        <!--- Start: Left SideBar -->
        {% if page.sidebar_first %}
          <div class={{sidebarfirst}}>
            <div class="sidebar">
              {{ page.sidebar_first }}
            </div>
          </div>
        {% endif %}
        <!-- End Left SideBar -->

        <!--- Start Content -->
        {% if page.content %}
          <div class={{contentlayout}}>
            <div class="content_layout">

              <!--Start: Breadcrumb -->
              {% if not is_front %}
                <div class="row">
                  <div class="col-md-12">{{ page.breadcrumb }}</div>
                </div>
              {% endif %}
              <!--End: Breadcrumb -->

              {{ page.content }}

            </div>
          </div>
        {% endif %}
        <!-- End: Content -->

        <!-- Start: Right SideBar -->
        {% if page.sidebar_second %}
          <div class={{sidebarsecond}}>
            <div class="sidebar">
              {{ page.sidebar_second }}
            </div>
          </div>
        {% endif %}
        <!-- End: Right SideBar -->

      </div>
    </div>
  </div>
</div>
<!-- End: Main content -->


<!-- Start: Features -->
{% if page.features_first or page.features_second or page.features_third %}

  <div class="features">
    <div class="container">

      {% if page.features_title %}
        <h2 class="custom-block-title" >
          {{ page.features_title }}
        </h2>
      {% endif %}

      <div class="row features-list">
        {% if page.features_first %}
          <div class = {{ features_first_class }}>
            {{ page.features_first }}
          </div>
        {% endif %}
        {% if page.features_second %}
          <div class = {{ features_class }}>
            {{ page.features_second }}
          </div>
        {% endif %}
        {% if page.features_third %}
          <div class = {{ features_class }}>
            {{ page.features_third }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!--End: Features -->


<!-- Start: Updates widgets -->
{% if page.updates_first or page.updates_second or page.updates_third %}

  <div class="updates" id="updates">
    <div class="container-">

      {% if page.updates_title %}
        <h2 class="custom-block-title" >
          {{ page.updates_title }}
        </h2>
      {% endif %}

      <div class="row updates-list">
        {% if page.updates_first %}
          <div class = {{ updates_class }}>
            {{ page.updates_first }}
          </div>
        {% endif %}
        {% if page.updates_second %}
          <div class = {{ updates_class }}>
            {{ page.updates_second }}
          </div>
        {% endif %}
        {% if page.updates_third %}
          <div class = {{ updates_class }}>
            {{ page.updates_third }}
          </div>
        {% endif %}
        {% if page.updates_forth %}
          <div class = {{ updates_class }}>
            {{ page.updates_forth }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!--End: Updates widgets -->


<!-- Start: Middle widgets -->
{% if page.midwidget_first or page.midwidget_second or page.midwidget_third or page.midwidget_forth %}
  <div class="midwidget" id="midwidget">
    <div class="container">

      {% if page.midwidget_title %}
        <h2 class="custom-block-title" >
          {{ page.midwidget_title }}
        </h2>
      {% endif %}

      <div class="row midwidget-list">
        {% if page.midwidget_first %}
          <div class = {{ midwidget_class }}>
            {{ page.midwidget_first }}
          </div>
        {% endif %}
        {% if page.midwidget_second %}
          <div class = {{ midwidget_class }}>
            {{ page.midwidget_second }}
          </div>
        {% endif %}
        {% if page.midwidget_third %}
          <div class = {{ midwidget_class }}>
            {{ page.midwidget_third }}
          </div>
        {% endif %}
        {% if page.midwidget_forth %}
          <div class = {{ midwidget_class }}>
            {{ page.midwidget_forth }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!--End: Middle widgets -->


<!-- Start: Bottom widgets -->
{% if page.bottom_first or page.bottom_second or page.bottom_third or page.bottom_forth %}
  <div class="container-fluid" id="custom-bottom-widget">
  <div class="bottom-widget container" id="bottom-widget">
    <div class="container">

      <h2 class="custom-block-title" >
        {{ "En savoir plus"|trans }}
      </h2>

      <div class="row bottom-widget-list">
        {% if page.bottom_first %}
          <div class = {{ bottom_class }}>
            {{ page.bottom_first }}
          </div>
        {% endif %}
        {% if page.bottom_second or linkAgrisudInCountry %}
          <div class = {{ bottom_class }}>
            {{ page.bottom_second }}
            {{ linkAgrisudInCountry }}
          </div>
        {% endif %}
        {% if page.bottom_third %}
          <div class = {{ bottom_class }}>
            {{ page.bottom_third }}
          </div>
        {% endif %}
        {% if page.bottom_forth %}
          <div class = {{ bottom_class }}>
            {{ page.bottom_forth }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
{% endif %}
<!--End: Bottom widgets -->


<!-- Start: Clients -->
{% if page.clients %}
  <div class="clients" id="clients">
    {% if page.clients_title %}
      <h2 class="custom-block-title" >
        {{ page.clients_title }}
      </h2>
    {% endif %}
    <div class="container-fluid">
      {{ page.clients }}
    </div>
  </div>
{% endif %}
<!--End: Clients -->
<div class="bg-white row">
  <div id="highlighted-partner" class="col-lg-4  col-md-12 row col-sm-12 col-12">
    <div class="col-lg-10 col-md-8 col-sm-12 col-12 py-3 text-align-right">
      <span class="m-0">{{ "Agrisud fait partie des associations agréées en France"|trans }}</span>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12 col-12 text-align-left px-0 pt-2">
      <img src="/web/themes/custom/norsys_base/images/Membre_HorizontalLogo_Color.jpg"/>
    </div>
  </div>
</div>
<div class="block-a-propos-nous">
  <div class="container py-5">
    <div class="row">
      <div class="col col-lg-9 col-md-8">
        <h5 class="text-white font-weight-bold">A PROPOS DE NOUS</h5>
        <p class="text-white">{{ "Agrisud est une OGN fraçaise qui intervient de 1992 en Afrique ,en Asie , en Amérique latine et dans les Caraïbes
          Son action vise à promouvoir un développement économique durable dans le secteur agricole
          Avec ses partenaires, ell e forme et accompagne des hommes et des femmes dans la maîtrise de
          leurs activités et met en place des projets multi-acteurs pour des territoires socialement équitables
          économiquement viables et écologiquement responsables."|trans }}
        </p>
      </div>
      <div class="col col-lg-3 col-md-4">
        <h5 class="text-white font-weight-bold">{{ "CONTACTEZ-NOUS"|trans }} </h5>
        <p class="text-white">{{ "7, avenue du Maréchal Foch - 33500 Libourne"|trans }} </p>
        <p class="text-white">{{ "Tel"|trans }} : +33 (0)5 57 25 17 06</p>
        <p class="text-white">{{ "Fax"|trans }} : +33 (0)5 57 25 17 06</p>
      </div>
    </div>
  </div>
</div>
<!-- Start: Footer widgets -->
{% if page.footer_first or page.footer_second or page.footer_third %}
  <div class="footer bg-white" id="footer">
    <div class="container">
      {% if page.footer_title %}
        <h2 class="custom-block-title" >
          {{ page.footer_title }}
        </h2>
      {% endif %}
      <div class="row">
        {% if page.footer_first %}
          <div class = {{ footer_class }}>
            {{ page.footer_first }}
          </div>
        {% endif %}
        {% if page.footer_second %}
          <div class = {{ footer_class }}>
            {{ page.footer_second }}
          </div>
        {% endif %}
        {% if page.footer_third %}
          <div class = {{ footer_class }}>
            {{ page.footer_third }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
<!--End: Footer widgets -->


<!-- Start: Copyright -->
<div class="text-align-center bg-white copyright">
  <div class="container">
    <p>{{ "Agrisud International est une association à but
      non lucratif reconnue de bienfaisance - N° SIRET 390 364 776 00034 -
      ©Agrisud International 2022 - Tous droits réservés"|trans }}
    </p>
    <span><a href="/mentions-legales">{{ "Crédits et Mentions légales"|trans }} </a> - <a href="/donnees-personnelles">{{ "Données personnelles"|trans }} </a>
      - <a href="#">{{ "Cookies"|trans }} </a> - <a href="/sitemap"> {{ "Plan du site"|trans }} </a></span>
  </div>
</div>
<!-- End: Copyright -->





